.bg-1{
    // background-image:url('../../assets/images/login.jpg');
    // height: 100%;
    // background-repeat: no-repeat;
    // background-position: center;
    // background-size: cover; 
    background-color: #1D3649;
    display:flex;
    justify-content:center;
    align-items:center;
    height:670px
}
.example-full-width{
width:300px;
margin-bottom: 15px;

}
.btn{
    font-size: 15px;
  
}
.error-msg{
    font-size: 15px;
}
hr.new1 {
    border-top: 1px solid #6296d8;
    margin-top: 0px !important;
    width:160px;
    margin-left: -1%;
  }
 .header{
     color: #ffffff;
 }
 